<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ movie?.title }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner *ngIf="!movie; else elseBlock" name="circles"></ion-spinner>

  <ng-template #elseBlock>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ movie.title }}</ion-card-title>
          <ion-card-subtitle class="ion-padding-top"> Fecha de estreno: {{ movie.release_date }} </ion-card-subtitle>
          <ion-card-subtitle> Idioma original: {{ movie.original_language }}  </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle class="ion-padding-bottom"> Sinópsis</ion-card-subtitle>
          <ion-text>{{ movie.overview }}</ion-text>
        </ion-card-content>
      </ion-card>
  </ng-template>
</ion-content>
